<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search result</title>
</head>
<body>
    <h1>[[${originCost}]]원을 초과하는 제품 목록</h1>
    <table>
        <tr>
            <th>제품번호</th>
            <th>제품이름</th>
            <th>제품원가</th>
            <th>출시일</th>
            <th>할인율</th>
            <th>판매량</th>
            <th>재고량</th>
            <th>제품분류코드</th>
            <th>생산상태</th>
        </tr>
        <tr th:each="productList : ${ productList }">
            <th th:text="${ productList.productCode }"></th>
            <th th:text="${ productList.productName }"></th>
            <th th:text="${ productList.originCost }"></th>
            <th th:text="${ productList.releaseDate }"></th>
            <th th:text="${ productList.discountRate }"></th>
            <th th:text="${ productList.salesQuantity }"></th>
            <th th:text="${ productList.stockQuantity }"></th>
            <th th:text="${ productList.categoryCode }"></th>
            <th th:text="${ productList.productionStatus }"></th>
        </tr>
    </table>
</body>
</html>